.env
__pycache__/
*.py[cod]
.Python
.venv/
venv/
env/
*.egg-info/
.ipynb_checkpoints/
.DS_Store
Thumbs.db
data/raw/**
!data/raw/**/.gitkeep
data/processed/**
!data/processed/**/.gitkeep
data/database/*.sqlite
data/database/*.db
outputs/figures/**
!outputs/figures/.gitkeep
outputs/reports/**
!outputs/reports/.gitkeep
